*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    list-style: none;
}

.first-section{
    background-color: #1F2937;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-links{
    display: flex;
}